//- File name: feader.pug
//- Author's name: Dongjun Yu
//- File description: footer element for other page

footer#myFooter
  if !isAuthenticated
    .container
      p Register for free
        a(href='/register')
          button.btn.btn-primary(type='button') SING UP!    
  .footer-copyright
      | Copyright &copy; TrueServey 
      script.
        document.write(new Date().getFullYear());
      |  All rights reserved    
