nav#myHeader.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/')
    img(src='/images/LogoBlack.png' width="250px" height="50px")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      if isAuthenticated
        li.nav-item  
          a.survey.nav-link.black-font(href=`/users/${username}/surveys`)
            | Survey
      else
        li.nav-item 
          a.survey.nav-link.black-font(href=`/surveys`) Survey 
    ul.navbar-nav
      if isAuthenticated
        li.nav-item
          a.profile.nav-link.black-font(href='/profile') Profile
        li.nav-item
          a.nav-link.black-font(href='/logout') Logout
      else
        li.nav-item
          a.register.nav-link.black-font(href='/register') Register
        li.nav-item
          a.nav-link.black-font(href='/login') Login


