nav#myHeader.navbar.navbar-expand-lg.navbar-light
  a.navbar-brand(href='/')
    img(src='/images/Logo3.png' width="160px" height="60px")
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.survey.nav-link(href='/surveys')
          | Survey
    ul.navbar-nav
      if isAuthenticated
        li.nav-item
          a.nav-link(href='/logout') Logout
      else
        li.nav-item
          a.register.nav-link(href='/register') Register
        li.nav-item
          a.nav-link(href='/login') Login


