extends layout

block content
  .login-box
    .left-box
      h1 Login
      form(method="POST")
        input(name="username" type="text" placeholder="User Name")
        input(name="password" type="Password" placeholder="Password")
        button(type="submit") Signin