//- File name: login.pug
//- Author's name: Dongjun Yu
//- File description: View for login page

extends layout

block content
  .login-box
    .left-box
      h1 Login
      form(method="POST")
        input(name="username" type="text" placeholder="User Name")
        input(name="password" type="Password" placeholder="Password")
        button(type="submit") Signin
    .right-box
      span.signinwith
        | Sign in with 
        br
        |  Social Network
        .social-network
          a.btn.btn-secondary.google(href="/auth/google")
            i.fa.fa-google
            span.ml-2 Login With Google
          a.btn.btn-github.github(href="/auth/github")
            i.fa.fa-github
            span.ml-2 Login With Github 
    .or
      | OR