extends layout

block content
  .container
    h1 Register

    form(method="POST")
      .form-group
        label Username
        input.form-control(name="username" type="text")
      .form-group
        label Password
        input.form-control(name="password" type="password")
      .form-group
        label Email
        input.form-control(name="email" type="text")
      button.btn.btn-primary(type="submit") Login
      #message
        if message
          h1.text-center.error-message #{message}