extends layout

block content
  .signup-box
    .left-box
      h1 Sign Up
      form(method="POST")
        input(name="username" type="text" placeholder="User Name")
        input(name="password" type="Password" placeholder="Password")      
        input(name="firstname" type="text" placeholder="First Name")      
        input(name="lastname" type="text" placeholder="Last Name")      
        input(name="email" type="email" placeholder="Email")
        button(type="submit") Sign up
    .right-box
      span.signinwith
        | Sign in with 
        br
        |  Social Network
      button.facebook
        | Facebook  
      button.google
        | Google+
      button.github
        | Github  
    .or
      | OR