//- Author Tomoya


extends ../layout

block content
    .bodyCotainer
        h3.text-center Create a Survey


        form(method='post', action='')
            #newlink
                div.container
                    .form-group
                        label Survey Title
                        input.form-control(name="survey_title" placeholder="Title of survey", required='')
                    .form-group
                        label Question Title
                        input.form-control(type='text', name='question_title', required='')
                    .form-group
                        label Question Type
                            select.form-control.type(name="question_type")
                                option(value='agree', selected='') Agree/Disagree
                                option(value='short') Short Answer
                    .form-group
                        label Survey Deadline
                        input.form-control(name="deadline" type='date', min=moment().format('YYYY-MM-DD'), required='')

            br
            p#addnew.container(style='margin-top:16px')
                a(href='javascript:new_link()', class="btn btn-secondary", role="button") Add New
            p.container
                br
                input(type='submit', name='submit1', class="btn btn-primary", style="margin-right:18px")
                input(type='reset', name='reset1', class="btn btn-warning")
        // Template
        #newlinktpl(style='display:none')
            div(style="margin-top:16px")
                .form-group
                    label Question Title
                    input.form-control(type='text', name='question_title')
                .form-group
                    label  Question Type
                        select.form-control.type(name="question_type")
                            option(value='agree', selected='') Agree/Disagree
                            option(value='short') Short Answer

        //- Script Reference
        //- http://www.satya-weblog.com/2010/02/add-input-fields-dynamically-to-form-using-javascript.html
        script.
            var ct = 1;
            function new_link()
            {
            ct++;
            var div1 = document.createElement('div');
            div1.classList.add("container");
            div1.id = ct;
            // link to delete extended form elements
            var delLink = '<a href="javascript:delIt('+ ct +')" ><button type="button" class="btn btn-danger ">Delete</button></a>';
            div1.innerHTML = document.getElementById('newlinktpl').innerHTML + delLink;
            document.getElementById('newlink').appendChild(div1);
            }


            // function to delete the newly added set of elements
            function delIt(eleId)
            {
            d = document;
            var ele = d.getElementById(eleId);
            var parentEle = d.getElementById('newlink');
            parentEle.removeChild(ele);
            }
