extends ../layout

block content
    h3.text-center New Survey


    form(method='post', action='')
    #newlink
        div
        table(border='0')
            tbody
            tr
                td  Link URL: 
                td
                input(type='text', name='linkurl[]', value='http://www.satya-weblog.com')
            tr
                td  Link Description: 
                td
                textarea(name='linkdesc[]', cols='50', rows='5')
    p
        br
        input(type='submit', name='submit1')
        input(type='reset', name='reset1')
    p#addnew
        a(href='javascript:new_link()') Add New 
    // Template
    #newlinktpl(style='display:none')
    div
        table(border='0')
        tbody
            tr
            td  Link URL: 
            td
                input(type='text', name='linkurl[]', value='')
            tr
            td  Link Description: 
            td
                textarea(name='linkdesc[]', cols='50', rows='5')


    //- form(method="POST")
    //-     .form-group
    //-     label(for='exampleInputEmail1') Survey Name
    //-     input#inputSurveyName.form-control(type='text', aria-describedby='emailHelp', placeholder='Survey name')

    //-     .form-group
    //-     label(for='exampleFormControlSelect1') Type
    //-     select#exampleFormControlSelect1.form-control(onchange='changeFunc();')
    //-         option(value='multiple', selected='') Multiple Choice
    //-         option(value='agree') Agree/Disagree
    //-         option(value='short') Short Answer
        
    //-     #question1

    //-     //- input(name="title" placeholder="title of project")
    //-     //- input(name="grade" type="number")
    //-     //- input(name="class.title" placeholder="Class Title")
    //-     //- input(name="class.courseCode" placeholder="CourseCode")
    //-     //- input(name="class.teacher" placeholder="Teacher")

    //-     button.btn.btn-primary(type='submit') Create Survey

    script.
        /*
        This script is identical to the above JavaScript function.
        */
        var ct = 1;
        function new_link()
        {
        ct++;
        var div1 = document.createElement('div');
        div1.id = ct;
        // link to delete extended form elements
        var delLink = '<div style="text-align:right;margin-right:65px"><a href="javascript:delIt('+ ct +')">Del</a></div>';
        div1.innerHTML = document.getElementById('newlinktpl').innerHTML + delLink;
        document.getElementById('newlink').appendChild(div1);
        }
        // function to delete the newly added set of elements
        function delIt(eleId)
        {
        d = document;
        var ele = d.getElementById(eleId);
        var parentEle = d.getElementById('newlink');
        parentEle.removeChild(ele);
        }


    //- script.
    //-     window.onload = changeFunc;

    //-     function changeFunc() {
    //-         console.log("called")
    //-         var propertyType = document.getElementById('exampleFormControlSelect1');
    //-         if (propertyType[propertyType.selectedIndex].value == 'multiple') {
    //-             let question = document.querySelector('#question1')
    //-             question.innerHTML = `<div class="form-check"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"><label class="form-check-label" for="defaultCheck1">Default checkbox</label></div>
    //-             <div class="form-check"><input class="form-check-input" type="checkbox" value="" id="defaultCheck1"><label class="form-check-label" for="defaultCheck1">Default checkbox</label></div>`
    //-         }

    //-         if (propertyType[propertyType.selectedIndex].value == 'agree') {
    //-             let question = document.querySelector('#question1')
    //-             question.innerHTML = `<div class="form-check">
    //-             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    //-             <label class="form-check-label" for="exampleRadios1">
    //-                 Default radio
    //-             </label>
    //-             </div>
    //-             <div class="form-check">
    //-             <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    //-             <label class="form-check-label" for="exampleRadios2">
    //-                 Second default radio
    //-             </label>
    //-             </div>`
    //-         }

    //-         if (propertyType[propertyType.selectedIndex].value == 'short') {
    //-             let question = document.querySelector('#question1')
    //-             question.innerHTML = `<div class="form-group">
    //-             <label for="usr">Question</label>
    //-             <input type="text" class="form-control" id="usr">
    //-             </div>
    //-             <div class="form-group">
    //-             <label for="exampleFormControlTextarea1"></label>
    //-             <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    //-             </div>`
    //-         }
    //-     }


//-   for (var i = 0; i < propertyType.options.length; i++) {

//-     if (propertyType.options[i].value = #{property.typeId}) {
//-         propertyType.options[i].selected = 'selected';
//-         propertyType.selectedIndex = i;
//-         break;
//-     }

//-   }