extends ../layout

block content
    if isAuthenticated
      a(href=`/users/${username}/create` class="btn btn-info") Create New Survey
    h3.text-center All surveys
    ul
      each survey in surveys
        li 
        a(href=`/doSurvey/${survey._id}`)=survey.survey_title