extends ../layout

block content
  .survey-container
    #survey-table.container
      h3.text-center All surveys
      
      if isAuthenticated
        div.text-right
          a(href=`/users/${username}/create` class="btn btn-info") Create New Survey
      
      div#survey-card.card
        each survey in surveys
          div.card-body
            a(href=`/doSurvey/${survey._id}` class="list-group-item")=survey.survey_title
            if survey.username==username        
              a(href=`/users/${survey._id}/${survey.username}/statistic` class="btn btn-primary") View Statistic

